
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/d.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: top left;
    position:absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-style: italic;
  }
  .navbar {
    overflow: hidden;
    background-color: transparent;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
  }
  
  .navbar li {
    float: right;
  }
  
  .navbar li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:black;
  }
  li{
    display: inline;
  }
  li:hover{
    background-color:black;
  }
  .tiles {
    background-color: white;
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
    transition: transform 3.0s ease; 
    box-shadow: rgba(0, 0, 0, 0.5);
  }
/* CSS for reducing the image size and fitting it inside the box */
.tiles img {
  border-radius: 50%;
  object-fit: cover;
  max-width: 60%; /* Example width, adjust as needed */
  height: auto; /* Example height, adjust as needed */
  margin-bottom: 10px;
  position: absolute;
  transform: translateX(-50%);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}
.tiles:hover{
  background-color: gray;
  transform: scale(1.0);
  box-shadow: 5px 5px 5px rgba(0, 0%, 0%, 0.1);
}
